// Custom styles.
//顶部加载小圆点的颜色修改
.pace .pace-activity{
	background:#222;
}

//文章标题和正文的间距修改
.posts-expand .post-meta {
  margin: 3px 0 30px 0;
}

//文章图片的间距修改
.posts-expand .post-body .fancybox img {
    margin: 0 auto 0px;
}